@media (hover: hover) {
  .picture-window .picture-window__previous-button,
  .picture-window .picture-window__next-button {
    opacity: 0;
    transition: 300ms;
  }
  .picture-window:hover .picture-window__previous-button,
  .picture-window:hover .picture-window__next-button {
    opacity: 1;
    transition: 300ms;
  }
}

.picture-window {
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
  &__previous-button {
    transform: scaleX(-1);
  }
  &__next-button,
  &__previous-button {
    display: flex;
    min-width: 16px;
    height: 100%;
    width: 6%;
    padding: 0;
    background-color: hsla(0, 0%, 100%, 0.3);
    justify-content: center;
    align-items: center;
    border: none;
  }
}
