//delete after testing
//delete after testing
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
//delete after testing
//delete after testing

//delete after testing
//delete after testing
.container {
  display: flex;
  flex-direction: column;
  border: red solid 1px;
  width: 80%;
  height: 80%;
  background-color: black;
}
.pictureField {
  width: 100%;
  background-color: green;
  height: 80%;
}
//delete after testing
//delete after testing

* {
  box-sizing: border-box;
}

.dot-field {
  display: flex;
  justify-content: space-evenly;
  padding: 0.6rem;
  width: 100%;
  &__dot {
    padding: 0.5rem;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: hsl(0, 0%, 50%);
    &--active,
    &:hover {
      background-color: white;
      transform: scale(1.4);
      transition: 200ms;
    }
  }
}
