//delete after testing
//delete after testing
body {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
}
//delete after testing
//delete after testing

//delete after testing
//delete after testing

//TO-DO move to final container during integration
.container {
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 80%;
  background-color: black;
}
//TO-DO move to final container during integration

* {
  box-sizing: border-box;
}

.dot-field {
  display: flex;
  justify-content: space-evenly;
  padding: 0.5em;
  width: 100%;
  &__dot {
    padding: 0.5em;
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background-color: hsl(0, 0%, 50%);
    &--active,
    &:hover {
      background-color: white;
      transform: scale(1.4);
      transition: 200ms;
    }
  }
}

@media screen and (min-width: 800px) {
  .dot-field {
    padding: 0.8em;
    &__dot {
      padding: 0.74em;
    }
  }
}
